<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="/">L12019</a>
    
    <ul class="navbar-nav ml-auto">

      
        <%= link_to root_path, class:'nav-link' do%>
        <i class="fas fa-sign-in-alt"></i>

        Login22
        <%end%>
       
       <%= link_to root_path, class:'nav-link' do%>
         <i class="fas fa-sign-out-alt"></i>Log uot
        <%end%>

         <%= link_to root_path, class:'nav-link' do%>
         <i class="fas fa-sign-out-alt"></i>L12019
        <%end%>
   </ul>
</nav>